body {
    background-color: #FCFFFD;
}

.navbar {
    padding: 5px 50px 0;
    background-color: #343B4A !important;
    border-bottom: 2px solid #66DEFF;
}

.navbar a {
    color: #E3F1FF !important; 
}

.navbar a:active, .navbar a:hover, .list-group a:hover {
    color: #66DEFF !important;
}

.navbar-brand span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #E3F1FF;
    padding-top: 2px;
}

.dropdown-menu {
    background-color: #343B4A;
}

a {
    color: #4EB1FC; 
}

.container {
    margin-top: 20px;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
}

#logo {
    max-width: 100%;
    margin: 20px 0 30px;
}

#mainContent img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.list-group {
    padding-bottom: 20px;
}

#footer {
    background-color: #343B4A;
    color: #E3EAFC;
    font-size: 12px;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 !important;
    width: 100% !important;
}

#footer > div {
   margin: 10px;
   float: left;
}

#footer > a {
    margin: 10px;
    float: right;
}

h2 {
    color: #495586;
}

.arrow {
    border: solid #4EB1FC;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 2px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: -2px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}

#knowledgeCheck {
    margin-left: -15px;
}

#knowledgeCheck li {
    padding-bottom: 10px;
}

#welcome {
    padding: 0;
}

#mainContent img {
    margin-bottom: 20px;
}

.code {
    font-family: 'Courier New', Arial;
}